.travbo_tabs_widget_setting li {
    border: 1px solid #eeeeee;
    padding: 10px 15px;
}

.travbo_tabs_widget_setting li a {
    display: block;
    text-decoration: none;
    outline: none;
}

.travbo_tabs_widget_setting li a:active {
    border: none;
    outline: none;
}

.travbo_tabs_widget_setting li a .dashicons {
    float: right;
}

.travbo_tabs_widget_setting li .setting_form {
    display: none;
}

